{
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "^@/components/(.*)$",
        "^@/config/(.*)$",
        "^@/contracts/(.*)$",
        "^@/drizzle/(.*)$|^(@/drizzle$)",
        "^@/executable/(.*)$",
        "^@/lib/(.*)$",
        "^@/providers/(.*)$",
        "^@/server/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true
}
